<div class="container">
    {{#if session.isAuthenticated}}
        <a  role="button" {{action "invalidateSession"}}>Logout</a>
    {{else}}
        {{#link-to "login"}}Login{{/link-to}}
    {{/if}}

    <h2>CatFood! v1.0</h2>
    <div class="body">
        {{outlet}}
    </div>
</div>