<form {{action "authenticate" on="submit"}}>
    <div class="row">
        <label for="identification">Login</label>
        <Input @id="identification" @placeholder="Enter Login" @value={{this.identification}} />
    </div>
    <div class="row">
        <label for="password">Password</label>
        <Input @id="password" @placeholder="Enter Password" @type="password" @value={{this.password}} />
    </div>

    <div class="row">
        <button class="btn btn-default" type="submit">Login</button>
        {{#if this.errorMessage}}
            <p>{{this.errorMessage}}</p>
        {{/if}}
    </div>
</form>